/* For use in src/lib/core/theming/_palette.scss */
$profileuiapp-primary: (
    50 : #f5f7f9,
    100 : #e7ecf1,
    200 : #d7e0e8,
    300 : #c6d3df,
    400 : #bac9d8,
    500 : #aec0d1,
    600 : #a7bacc,
    700 : #9db2c6,
    800 : #94aac0,
    900 : #849cb5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dcedff,
    A700 : #c3e0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




/* For use in src/lib/core/theming/_palette.scss */
$profileuiapp-warn: (
    50 : #f9f6ea,
    100 : #f1e8cb,
    200 : #e8d8a8,
    300 : #dec885,
    400 : #d7bd6a,
    500 : #d0b150,
    600 : #cbaa49,
    700 : #c4a140,
    800 : #be9837,
    900 : #b38827,
    A100 : #fffbf1,
    A200 : #ffeabe,
    A400 : #ffd98b,
    A700 : #ffd172,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




/* For use in src/lib/core/theming/_palette.scss */
$profileuiapp-accent: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

