@import '~@angular/material/theming';
@import './customPalette';
$my-primary: mat-palette($profileuiapp-primary);
$my-accent: mat-palette($profileuiapp-skybluehighlight);
$my-warn: mat-palette($profileuiapp-softaqua);

$my-theme: mat-dark-theme($my-primary,  $my-accent, $my-warn);
