@import '~@angular/material/theming';

$my-primary: mat-palette($mat-indigo);
$my-accent: mat-palette($mat-pink);
$my-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-primary, $my-accent);
