@import '~@angular/material/theming';
@import '../Palettes/palettes';
$my-primary: mat-palette($primary);
$my-accent: mat-palette($skybluehighlight);
$my-warn: mat-palette($softaqua);

$my-theme: mat-dark-theme($my-primary,  $my-accent, $my-warn);
