$seadark: (
    50 : #e0ebf2,
    100 : #b3cde0,
    200 : #80abcb,
    300 : #4d89b6,
    400 : #2670a6,
    500 : #005796,
    600 : #004f8e,
    700 : #004683,
    800 : #003c79,
    900 : #002c68,
    A100 : #97b9ff,
    A200 : #6497ff,
    A400 : #3175ff,
    A700 : #1864ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$sunlight: (
    50 : #fff7e0,
    100 : #ffebb3,
    200 : #ffdd80,
    300 : #ffcf4d,
    400 : #ffc526,
    500 : #ffbb00,
    600 : #ffb500,
    700 : #ffac00,
    800 : #ffa400,
    900 : #ff9600,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffe2bf,
    A700 : #ffd6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




$seagreen: (
    50 : #e1f8f7,
    100 : #b3edea,
    200 : #80e1dd,
    300 : #4dd5cf,
    400 : #27ccc4,
    500 : #01c3ba,
    600 : #01bdb3,
    700 : #01b5ab,
    800 : #01aea3,
    900 : #00a194,
    A100 : #cbfffa,
    A200 : #98fff5,
    A400 : #65fff1,
    A700 : #4cffee,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




/* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #eaeaec,
    100 : #cbcbcf,
    200 : #a8a8b0,
    300 : #858590,
    400 : #6a6b78,
    500 : #505160,
    600 : #494a58,
    700 : #40404e,
    800 : #373744,
    900 : #272733,
    A100 : #8383fd,
    A200 : #5151fc,
    A400 : #1a1aff,
    A700 : #0101ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$softaqua: (
    50 : #f9fbfc,
    100 : #f1f6f7,
    200 : #e8f0f1,
    300 : #dee9eb,
    400 : #d7e5e7,
    500 : #d0e0e3,
    600 : #cbdce0,
    700 : #c4d8dc,
    800 : #bed3d8,
    900 : #b3cbd0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



$crimsonhighlight: (
    50 : #f1e5e2,
    100 : #ddbdb7,
    200 : #c69187,
    300 : #af6557,
    400 : #9e4433,
    500 : #8d230f,
    600 : #851f0d,
    700 : #7a1a0b,
    800 : #701508,
    900 : #5d0c04,
    A100 : #ff948e,
    A200 : #ff635b,
    A400 : #ff3328,
    A700 : #ff1b0e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$skybluehighlight: (
    50 : #e7ecf3,
    100 : #c3cfe0,
    200 : #9bafcb,
    300 : #738eb6,
    400 : #5576a7,
    500 : #375e97,
    600 : #31568f,
    700 : #2a4c84,
    800 : #23427a,
    900 : #163169,
    A100 : #a1bdff,
    A200 : #6e99ff,
    A400 : #3b75ff,
    A700 : #2263ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);







/* For use in src/lib/core/theming/_palette.scss */
$warn: (
    50 : #ffede8,
    100 : #fed1c6,
    200 : #fdb2a1,
    300 : #fc937b,
    400 : #fc7c5e,
    500 : #fb6542,
    600 : #fa5d3c,
    700 : #fa5333,
    800 : #f9492b,
    900 : #f8371d,
    A100 : #ffffff,
    A200 : #fffafa,
    A400 : #ffccc7,
    A700 : #ffb6ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



/* For use in src/lib/core/theming/_palette.scss */
$accent: (
    50 : #efe8e3,
    100 : #d6c6ba,
    200 : #bba18c,
    300 : #a07b5e,
    400 : #8b5e3c,
    500 : #774219,
    600 : #6f3c16,
    700 : #643312,
    800 : #5a2b0e,
    900 : #471d08,
    A100 : #ffa27d,
    A200 : #ff7d4a,
    A400 : #ff5917,
    A700 : #fc4700,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);



